<div>
  <h1 class="hero-title-downcase mx-auto">contact us</h1>
  <%= render "contact_form/contact_form" %>
  <div class="social-links-container">
    <p class="social-links-text">Connect with us on social media!</p>
    <div class="social-icons-container">
      <%= social_icon(:facebook, "https://facebook.com/siemprevivaoils") %>
      <%= social_icon(:instagram, "https://instagram.com/siemprevivaulja") %>
    </div>
  </div>
</div>
