<%# Quantity Selector Component - Flowbite Style %>
<%# Usage: <%= render 'shared/quantity_selector',
#            input_id: 'quantity-input',
#            initial_value: 1,
#            min_value: 1,
#            field_name: 'cart_item[quantity]' (optional, defaults to nil for use with form builders) %>

<% input_id ||= "quantity-input-#{SecureRandom.uuid}" %>
<% initial_value ||= 1 %>
<% min_value ||= 1 %>
<% field_name ||= nil %>

<div class="relative flex items-center max-w-[8rem]">
  <button type="button"
          data-input-counter-decrement="<%= input_id %>"
          class="item-quantity-select-btn round-left">
    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16"/>
    </svg>
  </button>

  <%= number_field_tag field_name, initial_value,
        id: input_id,
        min: min_value,
        max: 10,
        data: { input_counter: true },
        class: 'item-quantity-input' %>

  <button type="button"
          data-input-counter-increment="<%= input_id %>"
          class="item-quantity-select-btn round-right">
    <svg class="w-2 h-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16"/>
    </svg>
  </button>
</div>
