<div class="contact-page">
  <h1 class="page-title text-center">contact us</h1>
  <%= render "contact_form/contact_form" %>
  <div class="social-links">
    <h3>connect with us on social media!</h3>
    <div class="social-icons">
      <%= social_icon(:facebook, "https://facebook.com/siemprevivaoils") %>
      <%= social_icon(:instagram, "https://instagram.com/siemprevivaulja") %>
    </div>
  </div>
</div>