<div>
  <h1 class="page-title">Contact Us</h1>
  <%= render "contact_form/contact_form" %>
  <div class="social-links">
    <p>Connect with us on social media!</p>
    <div class="social-icons">
      <%= social_icon(:facebook, "https://facebook.com/siemprevivaoils") %>
      <%= social_icon(:instagram, "https://instagram.com/siemprevivaulja") %>
    </div>
  </div>
</div>