<div class="bg-purple-400">
  <h1 class="font-semibold debug text-yellow-700">Marketing#home</h1>
  <p>precompiling serves correct build BUT doesn't update on fly</p>
  <p> app/public/assets/.manifest</p>
</div>
