<div>
  <div class="hero-section flex justify-center">
    <div class="flex flex-col justify-end">
      <h1 class="hero-title">siempreviva</h1>
      <p class="hero-subtitle">essential oils</p>
    </div>

    <div class="flex flex-col justify-end">
      <div class="hero-image-placeholder"></div>
    </div>
  </div>

  <div class="content-section flex flex-col justify-center">
    <div class="flex justify-center">
      <div>
        <div class="content-image-placeholder"></div>
      </div>

      <div class="flex flex-col justify-end">
        <h2 class="section-title-left">treat yourself.</h2>
        <p class="section-body-text-left">learn how aromatherapy can melt your troubles away</p>
      </div>
    </div>
  </div>

  <div class="content-section flex flex-col justify-center">
    <div class="flex justify-center">
      <div class="flex flex-col justify-end">
        <h2 class="section-title-right">visit our farms.</h2>
        <p class="section-body-text-right">(from the comfort of your home)</p>
      </div>

      <div>
        <div class="hero-image-placeholder"></div>
      </div>
    </div>
  </div>

  <div class="cta-section justify-center">
    <div class="cta-heading-wrapper">
      <h2 class="section-title-center-italic">
        not sure where<br/>
        to start?
      </h2>
    </div>

    <p class="section-body-text">we got you.</p>
    <%= link_to 'schedule a consult',
        new_contact_form_path,
        class: 'btn-purple' %>
  </div>
</div>