<h1>Unexpected Payment Intent Issue</h1>

<p>Payment Intent <%= @payment_intent.id %> has an unexpected status: <%= @payment_intent.status %></p>
<hr/>
<p>Payment Intent Details:</p>
<%= @payment_intent.inspect %>
<hr/>
<p>Checkout Session Details:</p>
<%= @checkout_session.inspect %>
<hr/>
<p>You may need to update your database in the event of a payment/refund failure or other change to an order's status.</p>

<p>If you are the site administrator, please check the logs for more information.</p>