<h1>The retry limit has been reached for <%= @payment_intent.id %></h1>

<p>Payment Intent Details:</p>
<%= @payment_intent.inspect %>

<p>Checkout Session Details:</p>
<%= @checkout_session.inspect %>

<p>You may need to update your database in the event of a payment/refund failure or other change to an order's status.</p>

<p>If you are the site administrator, please check the logs for more information.</p>