<div>
  <% @cart.cart_items.each do |item| %>
    <%= item.product.name %>
    <%= item.product.price %>
    <p>Quantity: <%= item.quantity %></p>
    <p class="text-red-400">DELETE ITEM</p>
  <% end %>

  <p>Total: <%= @total %> </p>
</div>