<div class="flex flex-col gap-5">
  <h1 class="font-bold">Cart Items</h1>
  <div id="cart-items">
    <% @session.line_items.each do |item| %>
      <div class="line-item inline-flex">
        <%= item.description %>
        <%= number_to_currency(item.amount_total / 100.0) %>
      </div>
    <% end %>
  </div>
  <div>
    <p>Total:</p>
    <%= number_to_currency(@session.amount_total / 100.0) %>
  </div>
</div>