<h1>Cart Items</h1>
<div id="cart-items">
  <% @session.line_items.each do |item| %>
    <div class="line-item">
      <span><%= item.description %></span>
      <span><%= number_to_currency(item.amount_total / 100.0) %></span>
    </div>
  <% end %>
</div>
<div>
  <p>Total:</p>
  <%= number_to_currency(@session.amount_total / 100.0) %>
</div>