<div class="checkout-new-page">
  <div>
    <h1 class="hero-title-downcase">checkout</h1>
  </div>
  <div data-controller="stripe-checkout"
       data-stripe-checkout-key-value="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>">

    <div id="checkout-element"
         data-stripe-checkout-target="element">
    </div>

  </div>
</div>