<div class="checkout-new-page">
  <div>
    <h1 class="hero-title-downcase">checkout</h1>
  </div>
  <div id="stripe-key" data-publishable-key="<%= Rails.application.credentials.dig(:stripe, :publishable_key) %>"></div>

  <div id="checkout-element"></div>

  <script src="<%= asset_path 'checkout.js' %>"></script>
</div>