<div class="inline-flex bg-yellow-200 p-5">
  <div class="bg-green-100">
    <p>Payment Form Goes Here</p>
    <form id="payment-form" 
      data-stripe-publishable-key="<%= Rails.application
                                            .credentials
                                            .dig(:stripe, :publishable_key) %>"
      data-checkout-success-path="<%= checkout_success_url %>
      class="bg-orange-200">
      <div id="payment-element">
        <!--Stripe.js injects Payment Element Here-->
      </div>
      <div id="address-element-shipping">
      </div>
      <div id="address-element-billing">
      </div>
    </form>
  </div>
  <div class="bg-blue-200 flex flex-col gap-5">
    <%= render partial: 'cart_items', locals: { session: @session } %>
    <button id="submit" class="bg-green-200 rounded-xl p-3 mt-5">
      <div class="spinner hidden" id="spinner"></div>
      <span id="button-text">Submit Order</span>
    </button>
    <div id="payment-message" class="hidden"></div>
  </div>
</div>
<script src="<%= asset_path 'checkout.js' %>"></script>