<div class="post-checkout-container">
  <div class="post-checkout-info">
    <% if @order.present? %>
      <div>
        <h1>Thanks for shopping with Siempreviva!</h1>

        <p class="subtitle">
          we'll get started on your order right away.
        </p>
      </div>

      <div>
        <%= image_tag 'helichrysum-landscape.jpg', alt: 'field of flowers', class: 'formatted-image' %>
      </div>

      <div class="order-details pt-5">
        <p class="order-label">
          your order number is
        </p>

        <p class="order-number">
            #<%= @order.id %>
        </p>
      </div>

      <p class="receipt-notice">
        (please check your email for your receipt)
      </p>
    <% else %>
      <div>
        <h1>
          Your payment is<br>
          being processed!
        </h1>

        <p class="subtitle">
          we'll email you when it's complete.
        </p>

        <div>
          <%= image_tag 'helichrysum-landscape.jpg', alt: 'field of flowers', class: 'formatted-image' %>
        </div>
      </div>
    <% end %>
  </div>
</div>