<% case @session.status %>
<% when 'complete' %>
  <div class="post-checkout-container">
    <div class="post-checkout-info">
      <!-- Thank you message -->
      <div>
        <h1>
          Thanks for shopping<br>
          with Siempreviva!
        </h1>
        <p class="subtitle">
          we'll get started on your order right away.
        </p>
      </div>

      <!-- Placeholder image (grey box from wireframe) -->
      <div class="image-placeholder">
        <span>Order Confirmation Image</span>
      </div>

      <!-- Order details -->
      <div class="order-details">
        <p class="order-label">
          your order number is
        </p>
        <p class="order-number">
          #<%= '123456' %>
        </p>
      </div>

      <!-- Receipt notice -->
      <p class="receipt-notice">
        (please check your email for your receipt)
      </p>
    </div>
  </div>
<% when 'open' %>
  <div class="post-checkout-container">
    <div class="post-checkout-info">
      <div>
        <h1>
          Your payment is<br>
          being processed!
        </h1>
        <p class="subtitle">
          we'll email you when it's complete.
        </p>
      </div>

      <!-- TODO - make this a vertical/portrait image -->
      <div class="image-placeholder">
        <span>Processing Payment Image</span>
      </div>
    </div>
  </div>
<% when 'expired' %>
  <div class="post-checkout-container">
    <div class="post-checkout-info">
      <div>
        <h1>
          Your session<br>
          has expired.
        </h1>
        <p class="subtitle">
          please try checking out again.
        </p>
      </div>

      <!-- TODO - make this a vertical/portrait image -->
      <div class="image-placeholder">
        <span>Session Expired Image</span>
      </div>
    </div>
  </div>
<% else %>
  <div class="post-checkout-container">
    <div class="post-checkout-info">
      <div>
        <h1>
          Something<br>
          went wrong.
        </h1>
        <p class="subtitle">
          please <%= link_to "contact us", contact_path %> for more info.
        </p>
      </div>

      <!-- TODO - make this a vertical/portrait image -->
      <div class="image-placeholder">
        <span>Error State Image</span>
      </div>
    </div>
  </div>
<% end %>