<% case @session.status %>
<% when 'complete' %>
  <p>Thanks for your order! We'll get started on it right away.</p>
<% when 'open' %>
  <h1>Payment Status: <%= @session.status %></h1>
  <p>Your payment is being processed. We'll email you when it's complete!</p>
<% when 'expired' %>
  <p>The session has expired. Please try checking out again.</p>
<% end %>