<div class="product-card">
  <%= link_to product_path(product.id), class: "product-link" do %>
    <div class="product-image-container">
      <% if product.images.any? %>
        <% product.images.each do |i| %>
          <%= image_tag(i, alt: product.name.titleize, class: "product-image") %>
        <% end %>
      <% end %>
    </div>
    <div class="product-info">
      <h3 class="product-name"><%= product.name.titleize %></h3>
      <p class="product-price"><%= to_dollars(product.default_price.unit_amount) %></p>
    </div>
  <% end %>
</div>