<%# Product Features/Benefits List %>
<%# Usage: <%= render 'products/product_features' %>

<div class="max-w-lg mx-auto px-4 mb-6">
  <ul class="list-disc list-inside text-gray-600 space-y-1 text-sm">
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
    <li>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
    <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
    <li>Duis aute irure dolor in reprehenderit in voluptate velit esse</li>
    <li>Excepteur sint occaecat cupidatat non proident</li>
    <li>Sunt in culpa qui officia deserunt mollit anim id est laborum</li>
  </ul>
</div>
