<div class="flex flex-col gap-5">
  <div>
    <h1 class="font-bold text-4xl">All Products</h1>
  </div>
  <!--[this will be where ProductCategory lives; may use param filter strategy a la Henventory]-->
  <div class="flex flex-col gap-10">
    <% @products.each do |product| %>
      <%= render partial: "product", object: product %>
    <% end %>
  </div>
</div>