<div>
  <h1 class="font-bold text-4xl">Products#index</h1>
  <p>Find me in app/views/products/index.html.erb</p>
</div>
<!--[this will be where ProductCategory lives; may use param filter strategy a la Henventory]-->