<div class="flex flex-col items-center">
  <%= form_with model: [:admins, @order] do |order_form| %>
    <%= order_form.label :tracking_number %>
    <%= order_form.text_field :tracking_number, autocomplete: 'off', class: 'border rounded-2xl bg-green-50' %>
    <br/>
    <%= order_form.submit "Save Changes & Fulfill", class: 'bg-purple-300 px-3 rounded-2xl' %>
  <% end %>
</div>