
<% if !@unfulfilled_orders %>
  <p>puts "No orders to fulfill at this time."</p>
<% else %>
  <div>
    <h1>Orders to Fulfill</h1>
    <div class="flex">
      <div class="flex h-200 w-1/2 items-center justify-self-center">
        <% @unfulfilled_orders.each do |order| %>
          <div>
            <%= render order %>
            <br/>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>



<div>
  <h1>[View All Orders]</h1>
</div>