<% if !@unfulfilled_orders %>
  <p>puts "No orders to fulfill at this time."</p>
<% else %>
  <div class="flex flex-col w-1/2 items-center justify-self-center p-10">
    <h1 class="p-10 text-xl font-bold text-left">Orders to Fulfill</h1>
    <% @unfulfilled_orders.each do |order| %>
      <div>
        <%= render order %>
        <br/>
      </div>
    <% end %>
  </div>
<% end %>

<div class="flex flex-col items-center">
  <%= link_to "View All Orders", archive_admins_orders_path %>
</div>